* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: sans-serif;
  position: relative;
}

.tiles {
  display: grid;
  gap: 1em;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-inline: auto;
  min-height: 100svh;
  padding: 1em;
  place-items: center;
  width: clamp(320px, 100%, 500px);
}

button {
  background-color: inherit;
  color: white;
  height: 100%;
  width: 100%;
}

.tile:first-child {
  border: 2px solid blue;
}

.tile:nth-child(2) {
  border: 2px solid red;
}

.tile:nth-child(3) {
  border: 2px solid blue;
}

.tile:nth-child(4) {
  border: 2px solid red;
}

.tile:nth-child(5) {
  border: 2px solid green;
}

.tile:nth-child(6) {
  border: 2px solid red;
}

.tile:nth-child(7) {
  border: 2px solid blue;
}

.tile:nth-child(8) {
  border: 2px solid red;
}

.tile:last-child {
  border: 2px solid blue;
}

.tutorial {
  background-color: black;
  color: blue;
  display: grid;
  height: 100%;
  left: 0;
  padding: 1em;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.tutorial div {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: clamp(320px, 100%, 500px);
}

.tutorial h1 {
  text-align: center;
}

.tutorial p {
  color: green;
  text-align: justify;
}

.tutorial button {
  border: 1px solid red;
  border-radius: 0.5em;
  color: white;
  padding: 1em;
  transition: background-color 0.3s ease-out;
}

.tutorial button:hover {
  background-color: red;
}
